<h1>Equipments#index</h1>
<ul>
  <% @equipment.each do |equipment| %>
    <li> <%= equipment.name %> - <%= equipment.description %></li>
  <% end %>
</ul>
<%= link_to "Sign up", new_user_registration_path %>
<br>
<%= link_to "List your equipment", new_equipment_path %>
