<h1>Equipments#index</h1>
<ul>
  <% @equipment.each do |equipment| %>
    <li> <%= link_to "#{equipment.name}", equipment_path(equipment) %></li>
  <% end %>
</ul>
<%= link_to "Sign up", new_user_registration_path %>
<br>
<%= link_to "List your equipment", new_equipment_path %>
