
<div class="subNavbar">
  <div class="subNavbar-links">
    <ul class="nav subNavbar-links" id="myTab" role="tablist">
      <li>
        <a class="subNavbarLink active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bookings</a>
      </li>
      <li>
        <a class="subNavbarLink" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Items</a>
      </li>
      <li>
      <a class="subNavbarLink" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Settings</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="full-height-profile">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h2 class="tab-headers">Incoming bookings</h2>
           <%= render partial: "shared/booking_status_card", object: @booking%>
        <h2 class="tab-headers">Outcoming bookings</h2>
        <% @bookings_by_user.each do |booking| %>
          <%= render partial: "shared/outcoming_booking_status_card", object: @booking%>
        <% end %>
        </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h2 class="tab-headers">Your Items</h2>
        <%= render partial: "shared/profile-page-cards", object: @equipment%>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <%= render partial: "shared/profile-settings", object: @user %>
      </div>
    </div>
  </div>
</div>
