
<div class="subNavbar">
  <div class="subNavbar-links">
    <ul class="nav subNavbar-links" id="myTab" role="tablist">
      <li>
        <a class="subNavbarLink active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Activity</a>
      </li>
      <li>
        <a class="subNavbarLink" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pending</a>
      </li>
      <li>
        <a class="subNavbarLink" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">History</a>
      </li>
      <li>
      <a class="subNavbarLink" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Settings</a>
      </li>
    </ul>
  </div>
</div>
<div class="full-height">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Hello These are your recent bookings</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Here are your booked adventures</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Here is your history of bookings</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Here is your history of bookings</div>
  </div>
</div>
