.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.cards a:hover{
  text-decoration: none;
}
.card-equipment {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5s;
}
.card-equipment:hover{
  transform: scale(1.05);
}
.card-equipment > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-equipment h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}
.card-equipment p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}
.card-equipment .card-equipment-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 48px;
  padding: 24px;
  background-color: rgba(235,235,235,0.9);
  height: 230px;
  width: 260px;
  border-radius: 8px;
}
.card-form .btn{
  margin-top: 16px;
}
.booking-card{
  padding: 16px;
  border: 1px solid #e4e4e4;
}
.avatar_photo_card{
  display: flex;
  margin-top: 8px;
  p {
  margin-left: 8px;
  }
}
.sports-cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 16px;
}
.card-sport{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5s;
  margin: 16px 0;
}
.card-sport:hover{
  transform: scale(1.05);
}
.card-sport img{
  height: 350px;
}
